.navbar {
    background-color: #19647E;
}

.nav-link {
    color: #ffffff;
}

.fa-bars{
    color: #ffffff;
}

.get-started-btn {
    background-color: #F18F01;
    border-color: #F18F01;
}

.nav-link:hover {
    color:  #FFC857;
    font-size: 19px;
}

.active {
    color:  #FFC857;
}