<br/>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <br/>
          <h4><strong>List of reported fires</strong></h4>
          <br/>
          <ul>
              <li *ngFor='let fire of fires$ | async'>
            
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-center">
                            <h5>Location of fire</h5>
                            {{fire.position.long}} {{fire.position.lat}}<br/>            
                        </div>
                      <div class="col-md-6 text-center">
                          <img [src]='fire.image' />
                      </div>
                      <div class="col-md-4 text-center">
                          <button (click)='voteUp(fire.id)'>Hot 🔥</button>

                <button (click)='voteDown(fire.id)'>Or not 🌊</button><br/>
                <span [style]='getStyle(fire.vote)'>🔥</span><br/>
                <h3>Fire rating</h3>
                {{fire.vote + 0}}<br/>
                      </div>
                    </div>
                </div>
            <br/>
              </li>
            </ul>
          <br/>
      </div>
    </div>
  </div>

