<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
        <br/>
        <div class="container">
            <div class="row">
              <div class="col-md-4 text-center what-is">
                <h5><i class="far fa-question-circle"></i><br/>What is Blazebase?</h5>
              </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p>Blazebase is ...Provide a brief description of the app or solution goal and design – what does it do and how...
                  <br/>
                  Offer the description (a story) of why this app or solution is important and what insights or future capabilities it provides with regard to fighting wildfires
                <br/>
                How does your app encourage citizen participation to support this human-based remote sensing initiative on wildfires?
                </p>
              </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="container">
            <div class="row">
              <div class="col-md-4 text-center what-is">
                <h5><i class="fas fa-users"></i><br/>Who are we?</h5>
              </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="row">
              <div class="col-md-4 text-center">
                  <div class="panel panel-heading text-center">
                      <h5>Christopher</h5>
                  </div>
                  <div class="panel panel-body"><br/>
                    <i class="fas fa-male"></i><br/>
                      <p>B.Eng Automations Engineering at l'École de technologie supérieure</p>
                  </div>
              </div>
              <div class="col-md-4 text-center">
                  <div class="panel panel-heading text-center">
                      <h5>Simon</h5>
                  </div>
                  <div class="panel panel-body"><br/>
                    <i class="fas fa-male"></i><br/>
                      <p>B.Comp.Sc and M.Comp.Sc in Computer Science at l'Université Laval  </p>
                  </div>
              </div>
              <div class="col-md-4 text-center">
                  <div class="panel panel-heading text-center">
                      <h5>Roxane</h5>
                  </div>
                  <div class="panel panel-body"><br/>
                    <i class="fas fa-female"></i><br/>
                      <p>B.Sc in Chemistry at l'Université du Québec à Trois-Rivières</p>
                  </div>
              </div>
            </div>
        </div>
        <br/>
    </div>
  </div>
</div>
<br/>

