<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <br/>
        <div class="container fluid">
            <div class="row">
              <div class="col-md-12 report text-center">
                <h5>Sooner a fire is listed, 
                  faster actions can be taken
                  and better are the chances of limiting negative impacts.</h5>
              </div>
            </div>
        </div>
        <br/>
      <h4>You see a fire?</h4>
      <p>Please take a photo of it with blazebase app. It only takes few minutes, but can make a big difference!</p>
      <webcam [trigger]='trigger' (imageCapture)='image($event)'></webcam><br/>
      <button (click)='click()'><strong>SEND</strong></button>
      <br/>
    </div>
  </div>
</div>
<br/>